body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-weight: bolder;
    text-align: center;
}

h2 {

}

h3 {

}

.recipe-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}